<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <ion-icon size="large" name="american-football-outline"></ion-icon>
      Mi primera App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12" size-sm="6" size-md="4" size-lg="3" size-xl="2">
        <ion-item>
          <ion-label>Item 1</ion-label>
        </ion-item>
      </ion-col>
      <ion-col size="12" size-sm="6" size-md="4" size-lg="3" size-xl="2">
        <ion-item>
          <ion-label>Item 2</ion-label>
        </ion-item>
      </ion-col>
      <ion-col size="12" size-sm="6" size-md="4" size-lg="3" size-xl="2">
        <ion-item>
          <ion-label>Item 3</ion-label>
        </ion-item>
      </ion-col>
      <ion-col size="12" size-sm="6" size-md="4" size-lg="3" size-xl="2">
        <ion-item>
          <ion-label>Item 4</ion-label>
        </ion-item>
      </ion-col>
      <ion-col size="12" size-sm="6" size-md="4" size-lg="3" size-xl="2">
        <ion-item>
          <ion-label>Item 5</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-label>
    <h1>Información Personal</h1>
  </ion-label>
  <ion-avatar id="myAvatar">
    <img src="../../assets/img/sabiduria.png">
  </ion-avatar>
  <ion-item >
    <ion-label position="floating">Nombre</ion-label>
    <ion-input [(ngModel)]="myNombre"></ion-input>
  </ion-item>
  <ion-item lines="none">
    <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium pariatur laboriosam maxime mollitia harum dicta maiores a inventore provident ab quae soluta asperiores nihil voluptatum, eos incidunt vero. Obcaecati, sunt.</h3>
  </ion-item>
  <ion-button expand="full" color="warning" (click)="datos()">Enviar datos</ion-button>
</ion-content>
